<%-include("../common/header.ejs")%>
    <%-include("../common/Navbar.ejs")%>
        <%-include("../common/Sidebar.ejs")%>
            <!-- BEGIN: Content-->
            <div class="app-content content ">
                <div class="content-overlay"></div>
                <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-body">
                        <section id="responsive-datatable">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title"> Doctor Listing</h4>
                                    </div>
                                    <br>
                                    <div class="card-DataTable table-responsive">
                                        <table id="userTable" class="table table-hover-animation">
                                            <thead>
                                                <tr>
                                                    <th>S NO.</th>
                                                    <th> Name</th>                                            
                                                    <th>Phone</th>
                                                    <th>Image</th>
                                                    <th>Age</th>                                        
                                                    <!-- <th>Appointment</th>                                     -->
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <%getDData.forEach(function(data,i) {%>
                                                    <tr>
                                                        <td>
                                                            <%=1+i%>
                                                        </td>
                                                        <td>
                                                            <%=data.name%>
                                                        </td>                                                                                                          
                                                        <td>
                                                            <%=data.phone%>
                                                        </td>
                                                        <td>
                                                            <img src="/images/userImage/<%=data.image%>" height="50"
                                                                width="50" class="rounded-circle" alt="">
                                                        </td>                                                                                                
                                                           <td>
                                                            <%=data.age%>
                                                        </td>
                                                        <!-- <td>
                                                            <a  href="/createBoking/<%=data._id%>">
                                                            <button type="submit"
                                                                class="btn btn-sm btn-outline-danger">Book</button></a>
                                                        </td> -->

                                                                <td>
                                                                    <% if(data.status=="Active" ) { %>
                                                                        <button onclick="changeStatus(this)"
                                                                            id="id<%=data._id%>"
                                                                            class="btn btn-success status btn-sm"
                                                                            data-id="<%=data._id%>"
                                                                            value="Inactive">Accept</button>
                                                                        <% } else { %>
                                                                            <button onclick="changeStatus(this)"
                                                                                id="id<%=data._id%>"
                                                                                class="btn btn-danger status btn-sm "
                                                                                data-id="<%=data._id%>" value="Active"
                                                                                style="display: flex;font-size: 9px;">Rejected</button>
                                                                            <% } %>
                                                                </td>
                                                                <td>
                                                                    <a href="/doctorView/<%=data._id%>"
                                                                        class="btn btn-sm btn-outline-success"><i
                                                                            data-feather='eye'></i></a>
                                                                    <!-- <button onclick="confirmDelete('<%=data._id%>')"
                                                                        class="btn btn-sm btn-outline-danger""> <i
                                                data-feather='trash'></i> </button> -->
                                        </td>
                                    </tr>
                                    <% } )%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class=" sidenav-overlay">
                                    </div>
                                    <div class="drag-target"></div>
                                    <%- include('../common/footer') %>

                                        <script>
                                            setTimeout(function () {
                                                $("div.msg").fadeOut();
                                            }, 2000);
                                        </script>

                                        <script>
                                            $(document).ready(function () {
                                                $('#userTable').DataTable(); // Initialize DataTable for the user table
                                            });
                                        </script>

                                        <!-- <script>
                                            function confirmDelete(id) {
                                                const swalWithBootstrapButtons = Swal.mixin({
                                                    customClass: {
                                                        confirmButton: 'btn btn-outline-danger btn-sm ',
                                                        cancelButton: 'btn btn-outline-success btn-sm '
                                                    },
                                                    buttonsStyling: false
                                                })
                                                swalWithBootstrapButtons.fire({
                                                    title: 'Are you sure?',
                                                    text: "You won't be able to revert this!",
                                                    icon: 'warning',
                                                    showCancelButton: true,
                                                    confirmButtonText: 'Yes',
                                                    cancelButtonText: 'No',
                                                    reverseButtons: true
                                                }).then((isConfirm) => {
                                                    if (isConfirm.isConfirmed) {
                                                        $.ajax({
                                                            url: "/deleteUser",
                                                            type: 'post',
                                                            data: {
                                                                id: id
                                                            },
                                                            success: function (result) {
                                                            }
                                                        });
                                                        swalWithBootstrapButtons.fire(
                                                            'Deleted!',
                                                            'Your file has been deleted.',
                                                            'success'
                                                        ).then(() => {
                                                            location.reload();
                                                        })
                                                    } else {
                                                        swalWithBootstrapButtons.fire(
                                                            'Cancelled',
                                                            'Your file is safe',
                                                            'error'
                                                        )
                                                    }
                                                })
                                            }
                                        </script> -->

                                        <script>
                                            function changeStatus(button) {
                                                var _id = button.getAttribute('data-id');
                                                var value = button.getAttribute('value');
                                                $.ajax({
                                                    type: "post",
                                                    url: "/dStatus/" + _id,
                                                    data: {
                                                        status: value
                                                    },
                                                    success: function (data) {
                                                        console.log(data);
                                                        window.location.reload();
                                                    },
                                                    error: function (error) {
                                                        console.error(error.responseText);
                                                    }
                                                });
                                            }
                                        </script> 